
.clear {
    display: block;
}

.player-controls-bar {
    background: #3c3c3c;
    position: fixed;
    bottom: -50px;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -os-user-select: none;
    user-select: none;
    -webkit-transition: bottom 2s; /* Safari */
    transition: bottom 1s;
}

.player-controls-bar.visible{

    bottom:0 !important;
}

.background-blur-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #4c4c4c;
    /*opacity:0.9;*/
    z-index: 0;
}

.background-blur {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    /*opacity: 0.5;*/
    -webkit-transition: opacity 0.9s ease-out;
    -moz-transition: opacity 0.9s ease-out;
    -ms-transition: opacity 0.9s ease-out;
    transition: opacity 0.9s ease-out;
    padding:8px;
    /*padding-top: 8px;*/
    /*padding-left: 10px;*/
}

.controls{
    display:inline-block;
    position:absolute;
}

.controls .glyphicon{
    width:30px;
    height:30px;
    font-size:30px;
    color:#fff;
    cursor:pointer;
    margin-left:10px;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.controls .glyphicon:hover{
    opacity:0.5;
}

#shuffle-button:hover{
    opacity:1;
}

#shuffle-button.active.coachella{
     color: #f05f40;;
 }

#shuffle-button.active.dolab{
    color: #1798E4;
}

.controls .glyphicon.hidden{
    display:none;
}

.song-info-container{
    display: inline-block;
    width: 50%;
    border-radius: 15px;
    background: #696969;
    color:#fff;
    height: 35px;
    position: relative;
    left:150px;
    padding: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

