.playControls {
    position: fixed;
    bottom: 0;
    visibility: hidden;
    width: 100%;
    -webkit-perspective: 900;
    perspective: 900;
    -webkit-perspective-origin: 80% 100%;
    perspective-origin: 80% 100%;
}

.playControls.m-visible .playControls__inner {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.playControls__inner {
    background-color: #f2f2f2;
    border-top: 1px solid rgba(0,0,0,.15);
    height: 46px;
    visibility: visible;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.l-container.l-fullwidth {
    width: 1240px;
    padding: 0;
}
.playControls__wrapper {
    padding-bottom: 10px;
    visibility: visible;
    position: relative;
}
.l-container {
    padding: 0 30px;
    width: 1180px;
    margin: 0 auto;
}

.l-container:before, .l-container:after {
    content: "";
    display: table;
}
.playControls__controls {
    position: relative;
}

.g-dark {
    color: #999;
}
.sc-list-nostyle {
    list-style: none;
    margin: 0;
}
ul {
    list-style: disc;
}
ul, ol {
    padding: 0;
    margin: 0 0 18px 25px;
}
.sc-clearfix:before, .sc-clearfix:after {
    content: "";
    display: table;
}

.playControls__playPauseSkip {
    float: left;
    margin: 0 40px 0 0;
}

.skipControl__previous {
    background-image: url(https://a-v2.sndcdn.com/assets/images/playback/prev-34697d.svg);
    background-position: 40% center;
}

.skipControl {
  width: 33px;
  background-repeat: no-repeat;
}

.playControl.playing {
    background-image: url(https://a-v2.sndcdn.com/assets/images/playback/pause-b172a6.svg);
    background-position: center center;
}
.playControl {
    background: url(https://a-v2.sndcdn.com/assets/images/playback/play-c9d2fb.svg) no-repeat 55% center;
    width: 46px;
    margin: 0 6px;
}
.skipControl__next {
    background-image: url(https://a-v2.sndcdn.com/assets/images/playback/skip-3aac31.svg);
    background-position: 60% center;
}

.playControls__repeat {
    float: left;
    margin-right: 20px;
}


.repeatControl {
  width: 19px;
  height: 46px;
  margin: 0;
  padding: 0;
  position: relative;
  transition: box-shadow 200ms;
}

.playControls__timeline {
    float: left;
    margin-right: 20px;
}

.playbackTimeline.has-sound {
    visibility: visible;
}

.playbackTimeline {
  float: left;
  font-size: 11px;
  visibility: hidden;
}
.sc-clearfix:before, .sc-clearfix:after {
    content: "";
    display: table;
}
.sc-ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

.playControls__icon {
  border: 0;
  height: 46px;
  position: relative;
  float: left;
}

.sc-ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}
